@import '../../styles/_mixins.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.postHero {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;

  font-family: 'Bitter', sans-serif;

  figure {
    width: 100%;
  }
}

.postHeroTitle {
  color: var(--color-text_primary);
  @include bitterFontAndLineHeight;

  margin: 1rem 0;
}

.postHeroFigure {
  img {
    width: 100%;
  }

  margin-top: 1rem;
}

.postBody {
  border-top: 1px solid var(--color-border);
  padding-top: 2rem;

  blockquote {
    padding: 1rem 0 1rem 2rem;
    border-left: 3px solid #dc0228;

    color: var(--color-text_secondary);
    @include bitterFontAndLineHeight;
  }
}

.postBodyLead {
  color: var(--color-text_primary);
  font-family: 'Bitter', sans-serif;
  line-height: 1.6rem;

  margin-bottom: 2rem;
}

.postBodyParagraph {
  color: var(--color-text_secondary);
  font-family: 'Bitter', sans-serif;
  line-height: 1.6rem;

  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .postBody {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .postHeroTitle {
   font-size: 1.5rem;
  }
}
