.player-wrapper {
  width: 100%;
}

.btn-play-pause-group {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 10px;

  margin-right: 5px;
}

.play-button,
.pause-button {
  border: none;
  background: var(--color-text_secondary);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.play-button:hover,
.pause-button:hover {
  opacity: 80%;
}

.vol-rate-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.selected {
  background-color: var(--color-text_secondary);
}
.volume-button,
.rate-button,
.rate-button-sh {
  background: none;
  border: 1px solid var(--color-text_secondary);
  padding: 1px 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}

.volume-button {
  background-color: gray;
}
.time {
  color: white;
}
.volume-button:hover,
.rate-button:hover,
.rate-button-sh:hover {
  opacity: 80%;
  color: white;
}

.playback-rate-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.playback-rate-menu.visible {
  opacity: 1;
  visibility: visible;
}

input[type='range'] {
  /* Цвет ползунка */
  /* Толщина ползунка */
  height: 2px;
  /* Скрыть стандартные стили */
  -webkit-appearance: none; /* Для Safari */
  appearance: none;
  /* Ползунок скрыт по умолчанию */
  outline: none;
}

/* Стили для заполненной части ползунка */
input[type='range']::-webkit-slider-runnable-track {
  border-radius: 5px;
}

/* Стили для ползунка (бегунка) */
input[type='range']::-webkit-slider-thumb {
  /* Цвет бегунка */
  background-color: var(--color-text_secondary);
  /* Толщина бегунка */
  width: 10px;
  height: 10px;
  /* Форма бегунка (круглый) */
  border-radius: 50%;
  /* Границы бегунка */
  /* border: 2px solid #001b7c; */
  /* Вертикальное и горизонтальное выравнивание */
  cursor: pointer;
  -webkit-appearance: none; /* Для Safari */
  appearance: none;
  /* Скрываем бегунок по умолчанию */
  transition: opacity 0.3s ease; /* Добавляем плавное появление */
}

/* Показываем бегунок при наведении */
/* input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
} */

.time {
  margin-left: 0.7rem;
  span {
    color: var(--color-text_secondary);
  }
}

.info-icon {
  background-color: var(--color-bg);
  border: none;
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
    path {
      fill: var(--color-text_secondary);
    }
  }
}

.info-icon-active {
  background-color: var(--color-bg);
  border: none;
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
    path {
      fill: white;
    }
  }
}

.info-hidden {
  opacity: 0;
  transition: 1s all ease-in-out;
}

.info-active {
  border-radius: 5px;

  background-color: var(--color-text_secondary);
  font-style: italic;

  padding: 15px;
  margin-top: 15px;

  a {
    text-decoration: none;
  }

  opacity: 1;

  transition: 1s opacity ease-in-out;
}
